@charset "UTF-8";

table{
	display: contents;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card{
    border: 1px solid #eee;  
    margin-bottom: 10px;
    height: 440px;
    left: 10px;
    padding: 30px;
    margin: 11px;
}



.gName{
	font-size: 14px;
	opacity: .8;
}